@keyframes Smart-animate {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}
*{
    caret-color: #fff;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.input-control {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    position: relative;
    padding-bottom: 10px;
    margin: 5px;
}

.input-control input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(26, 83, 25, 1);
    
}

.input-control label {
    color: #fff;
    transform: translateY(-5px);
    position: absolute;
    transition: .3s;
}

.input-control input:focus {
    outline: none;
    background-color: transparent;
}

.error{
    font-size: 10px;
    color: red;
}
.scroll-scale {
    opacity: 1;
    transform: scale(.9);
    transition: all 2s;
}

.scroll-bottom {
    opacity: 0;
    transform: translateY(300px);
    transition: 3s;
}

.scroll-top {
    opacity: 0;
    transform: translateY(-300px);
    transition: all 3s;
}

.scroll-left {
    opacity: 0;
    transform: translateX(300px);
    transition: all 3s;
}

.scroll-right {
    opacity: 1;
    transform: translateX(-300px);
    transition: all 3s;
}

.show-items {
    opacity: 1;
    transform: translateX(0);
}
